@keyframes movintop {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.section {
  height: 300px;
  margin-top: 100px;
  margin-bottom: 120px;
}
.head {
  font-size: 40px;
  font-weight: 600;
  color: #3d4270;
  animation-name: movintop;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
button {
  transition: background 0.2s ease-in-out 0s;
  border-radius: 8px;
  font-weight: normal;
  display: inline-block;
  border: 1px solid transparent;
  margin: 0px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  background: rgb(16, 112, 224);
  color: rgb(255, 255, 255);
  text-decoration: none !important;
  outline: none !important;
}
.buttonsvg {
  box-sizing: border-box;
  margin: 0px;
  height: 16px;
  width: 16px;
  transform: translateY(4px);
}
.flex {
  width: 54%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex input,
.flex select {
  width: 232px;
  height: 18px;
  transform: translateX(-17px);
}
.flex select {
  height: 28px;
  transform: translateX(19px);
}
.compute {
  transform: translateX(-10px);
}
.no {
  color: red;
  margin-top: 41px;
  margin-bottom: 24px;
}
.yes {
  color: #3d4270;
  margin-top: 41px;
  margin-bottom: 24px;
}
.convert {
  width: 60%;
  margin-inline: auto;
  height: 180px;
  padding-top: 52px;
  background-color: #fff;
  box-shadow: 12px 9px 0 rgb(54 90 225 / 20%);
  border-radius: 30px;
  animation-name: movintop;
  animation-duration: 500ms;
  animation-delay: 200ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
